body {
    background-color: black;
}
.h1 {
    color: #FFCECB;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
}

.h2 {
    font-size: 42px;
}

a {    
    color: #FFCECB;
    text-decoration: none;
    text-align: center;
font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
}

.center { 
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 88%; }